:root {
  --body-text: #171717cc;
  --black: #171717;
  --neon-green: #cdf163;
  --transparent: #fff0;
  --beige: #f2f4f2;
  --white: white;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
}

a {
  color: inherit;
}

.container {
  max-width: 1320px;
  margin: auto;
  padding: 20px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

h1 {
  font-family: "Lexend", sans-serif;
  color: var(--black);
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: Lexend, sans-serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.8rem;
}

h2 {
  color: var(--black);
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: "Lexend", sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.6rem;
}

h4 {
  color: var(--black);
  margin-top: 10px;
  // margin-bottom: 10px;
  font-family: Lexend, sans-serif;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.body-text {
  font-family: "Instrument Sans", sans-serif;
  color: var(--body-text);
  font-size: 1.3rem;
  line-height: 1.9rem;
}

%common-btn-properties {
  padding: 20px 35px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.1s linear;
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.btn-green {
  @extend %common-btn-properties;
  border: none;
  background-color: var(--neon-green);
}

.btn-outline {
  @extend %common-btn-properties;
  border: 2px solid var(--beige);
}

.btn-hover {
  &:hover {
    background-color: #171717;
    border-color: var(--black);
    color: var(--white);
  }
}

.nav-logo {
  font-family: "JetBrains Mono", sans-serif;

  a {
    font-size: 1.35rem;
    font-weight: 500;
    color: var(--black);
  }

  .green-dot {
    margin-top: 3px;
    animation: blink 2s ease infinite;
  }
}

.green-dot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: var(--neon-green);
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: #042e41;
  font-family: "Instrument Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  position: relative;
  opacity: 0.8;

  &::after {
    position: absolute;
    content: "";
    background-color: var(--neon-green);
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -3px;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s linear;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.hero-left,
.hero-right {
  border-radius: 50px;
  width: 50%;
}

.hero-image {
  position: relative;
  border-radius: 50px;
  overflow: hidden;

  img {
    height: 50%;
    width: 100%;
  }

  .badge {
    position: absolute;
    top: 33px;
    right: 30px;
  }

  .green-dot{
    height: 16px;
    width: 16px;
  }

  .hero-badge-text {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 500;
    color: var(--black);
    font-size: 1.125rem;
  }

  .hero-info-card {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: "Lexend", sans-serif;
    font-size: 1.25rem;
    color: var(--white);
    padding: 12px;
    border-radius: 50px;
    width: max-content;
    background-color: var(--black);

    .hand-icon {
      margin-right: 5px;
      margin-bottom: 3px;
      img {
        height: 30px;
        width: 30px;
      }
    }
  }
}

.hero-right-content {
  margin: 2rem;
}

.social-icons {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 2.3rem;
  column-gap: 10px;

  span {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: var(--white);
    transition: all 0.1s linear;

    &:hover {
      background-color: var(--neon-green);
    }
  }
}

.hero-buttons {
  margin: 50px 0;
}

.badge {
  background-color: var(--white);
  border-radius: 50px;
  column-gap: 5px;
  padding: 6px 10px 6px 7px;
}

.skill-card-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 15px;
}

.skill-card {
  background-color: var(--beige);
  border-radius: 25px;
  padding: 10px;
  
  .skill-text {
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px;
  }

  .skill-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: var(--neon-green);
    border-radius: 20px;
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 4rem;
  }

  .progress-container{
    margin-bottom: 15px;
    column-gap: 15px;
    justify-content: space-between;
  }

  .progress-bar{
    width: 90%;
    border-radius: 50px;
    height: 8px;
    background-color: var(--beige);
    overflow: hidden;

    .progress{
      background-color: var(--neon-green);
      height: 100%;
      border-radius: 50px;
    }

    .progress-html, .progress-css{
      width: 70%;
    }

    .progress-bootstrap{
      width: 60%;
    }
  }
}
