@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --body-text: #171717cc;
  --black: #171717;
  --neon-green: #cdf163;
  --transparent: #fff0;
  --beige: #f2f4f2;
  --white: white;
  --meow: salmon;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
}

a {
  color: inherit;
}

.container {
  max-width: 1320px;
  margin: auto;
  padding: 10px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.heading {
  font-family: "Lexend", sans-serif;
}

.body-text {
  font-family: "Instrument Sans", sans-serif;
}

%common-btn-properties {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s linear;
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.btn {
  @extend %common-btn-properties;
  border: none;
  background-color: var(--neon-green);
}

.btn-hover {
  &:hover {
    background-color: #171717;
    color: var(--white);
  }
}

.btn-outline {
  @extend %common-btn-properties;
  border: 1px solid var(--beige);
}

.btn.btn-medium {
  padding: 15px 25px;
}

.btn.btn-pill {
  border-radius: 50px;
}

.nav-logo {
  font-family: "JetBrains Mono", sans-serif;

  a {
    font-size: 1.35rem;
    font-weight: 500;
    color: var(--black);
  }
}

.nav-logo-deco {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 3px;
  margin-top: 3px;
  background-color: var(--neon-green);
  animation: blink 2s ease infinite;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: #042e41;
  font-size: 1.25rem;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-color: var(--neon-green);
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -3px;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s linear;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.navbar {
  border: 1px solid gray;
  padding: 10px;
}
